<% if(user.password == 'nowy1234'){ %>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Wykryto hasło nowego użytkownika!</label> <br />
                <label> Wprowadz nowe hasło:</label> <br />
                <form action="/newPassword" method="post" class="newPassword">
                    <input type="text" class="form-control" name="newPassword" placeholder="Nowe hasło" /> <br />
                    <input type="hidden" class="form-control" name="userId" value="<%= user.id %>" />
                    (Nowe hasło zostanie użyte podzas nowego logowania)
    
                    <div class="col-sm">
                        <div class="text-left">
                            <br />
                            <br />
                            <button class="btn btn-outline-primary" value="Submit">Zatwierdź</button>
                        </div>
                    </div>
                </form>
                <div class="col-sm"></div>
            </div>
        </div>
        <% } %>
    </div>